*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.1);
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    color: #fff;
}
.displa{
    width: 300px;
    /* box-shadow: 10px 0 0 solid black; */
    /* border: 2px solid black; */
    margin-left: 20px;
    /* box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.1); */
    /* margin-left: 30px; */
    /* background-color: #fff; */
}
#display{
    width: 250px;
    font-size: 25px;
    text-align: right;
    /* margin-left: 30px; */
    box-shadow: none;
    /* border: 2px solid green; */
    /* width: 295px;
    margin-left: 30px;
    text-align: right;
    font-size: 30px; */

}
/* form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    font-size: 45px;
    box-shadow: none;
} */
form input.equal{
    width: 145px;
}